.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout button {
    padding: 15px 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #8f0101;
    margin-top: 20px ;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #777;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    
}

.header a {
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
}

.content {
    padding: 25px;
    height: 100%;
}